.root
    width 100vw
    height 100vh
    display flex
    flex-direction column
    justify-content space-between

.logoContainer
    flex-grow 1
    margin-bottom 30px
    display flex
    justify-content center
    background linear-gradient(180deg, rgba(255, 255, 255, 0) 20%, #FFFFFF 100%), #F5B8A9;

.content
    flex-shrink 0
    margin-bottom 60px

.logo
    width 160px
    align-self center

.registerText
    text-align center
    margin-top 30px 

.textTop
    font-size 14px
    display block
    color #333
    line-height 1.5

.mail
    font-size 16px
    margin-top 20px
    font-weight bold
