.root
    height 32px
    margin-top 10px

.instaLink
    height 100%
    line-height 31px
    padding 0 10px
    float right
    border-radius 6px
    border 1px solid #C4C4C4
    font-family Roboto
    font-size 14px
    color #868686
