.root
    display block

.review
    display flex

    & + &
        margin-top 15px

.left
    display block
    flex 0 0 100px

.right
    margin-left 10px

.productTitle
    display block
    font-size 14px
    line-height 16px

.productTitleBrand
    font-weight bold

.blog
    display block
    margin-top 5px

.blogImage
    width 30px
    height 30px
    border-radius 15px

.blogName
    font-size 14px
    line-height 30px
    margin-left 5px

.blogImage
.blogName
    vertical-align middle

.reviewText
    margin-top 5px
    font-style italic
    color #545454
    font-size 14px
