.root
    margin-top 20px
    font-family Helvetica
    clear both

.title
    font-size 15px
    color #7b7b7b
    margin-bottom 10px

.container
    display flex
    flex-wrap wrap
    justify-content space-between