.root
    margin-top 12px
    padding 8px
    border 1px solid #ddd
    border-radius 4px

.bottomControls
    text-align right
    margin-top 10px

.control + .control
    margin-left 10px

.valueLabel
    font-size 16px
    margin-top 30px
    padding-right 25px
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    position relative

.valueLabelClean
    position absolute
    top 2px
    right 0
    cursor pointer
