@import '../common/reset'

h1, h2, h3, h4, h5, h6, p, ol, ul, div, span
    font-family Roboto

// <- common

@media (min-width: 460px)
    .root
        margin: 20px auto
        width: 400px
        border-radius 4px
        box-shadow 0px 0px 200px rgba(173, 130, 120, .8)

.header
    position relative
    height 50px
    background-color #F5B8A9
    color #fff
    text-align center
    line-height 50px
    font-family "Arial, Helvetica, sans-serif"

.logoLink
    width 200px
    height 100%
    display inline-block
    outline none

.logo
    margin-top 13px
    height 22px

.content
    padding 20px 15px
    font-family "Arial, Helvetica, sans-serif"

.homeLink
    position absolute
    top 0
    left 0
    height 50px
    width 50px

.homeLinkPic
    position absolute
    top 12px
    left 12px
    height 25px
    width 25px

.profileLink
    position absolute
    top 0
    right 0
    height 50px
    width 50px

.profileLinkPic
    position absolute
    top 8px
    right 10px
    height 34px
    width 34px
    box-sizing border-box
    border-radius 17px
    border 1px solid #fff
    background #fff
