.root
    display block

.label
    font-size 13px

.input
    width 100%
    border 1px solid #c4c4c4
    padding 6px 8px
    border-radius 8px
    box-sizing border-box
    margin-top 2px
    outline none
