.descriptionField
    margin 16px 0 !important
    width 100%

.pictureLabel
    margin-right 6px

.pictureInput
    display block

.picture
    margin -6px 0 12px
    width 400px

.pictureEmpty
    margin -6px 0 12px
    min-height 160px
    min-width 400px
    border 1px solid #ccc
    border-radius 4px
    color #333
    display flex
    justify-content space-around
    align-items center
