.root
    margin-top -5px
    margin-bottom 12px
    display block
    position relative

.icon
    position absolute
    left 0
    top 6px

.name
    margin-left 15px
    font-size 18px
    color #555
