.root
    display flex
    justify-content space-between

.left
.right
    text-align center
    text-transform uppercase
    font-size 14px
    border 1px solid #c4c4c4
    padding 8px
    border-radius 8px

.left
    padding 8px 20px
    flex 0 0
    background #F59292
    color #fff

.right
    margin-left 14px
    flex 1 0
    color #7b7b7b
