.root
    overflow hidden
    position relative
    clear both
    margin-top 16px
    margin-bottom -4px

.content
    position absolute
    top 0
    left 0
    transition all .3s
    width 100%

.contentPublic
    top -40px

.root
.notPublicLine
.publicLine
    height 40px
    width 100%

.publicLine
    display flex
    align-items center
    justify-content center

.notPublicLine
    display flex
    align-items center
    justify-content center

.notPublicIcon
    width 26px
    height 26px
    position relative
    top -1px

.notPublicText
.publicText
    font-size 14px
    color #929292

.notPublicText
    margin-left 8px
    margin-bottom 3px

.publicText
    margin-left 2px

.publishButton
    border 1px solid #C4C4C4
    border-radius 6px
    height 30px
    color #868686
    font-size 14px
    margin-left 12px
    outline none

.publicIcon
    width 30px
    height 20px
    position relative
    top 1px

