.root
    position absolute
    left calc(50% - 23px)

.container
    position relative
    width 46px
    height 25px
    background #BDBCBC
    border 1px solid #D8D8D8
    box-sizing border-box
    border-radius 12px

.tumbler
    position absolute
    width 19px
    height 19px
    top 2px
    left 2px
    background #fff
    border-radius 9px

.leftIcon
.rightIcon
    position absolute
    background #F9BDBD
    border-radius 5px
    height 11px
    top 7px

.leftIcon
    width 11px
    right calc(100% + 8px)

.rightIcon
    width 21px
    left calc(100% + 8px)
