.brand
    font-weight bold
    font-size 18px
    text-transform uppercase

.title
    font-size 18px
    text-transform uppercase
    color #272727
    margin-top 8px
    line-height 1.2

.description
    margin-top 8px
    font-size 15px
    line-height 1.5
    color #585858
