.header
    z-index 10000 !important

.headerToolbar
    margin-left: 240px

.drawer
    width 240px
    flex-shrink 0

.drawerPaper
    width 240px
    margin-top 64px

.content
    margin 64px 0 0 240px
    width calc(100% - 240px)
    padding 20px 12px
