.root
    margin-top 10px

.head
    position relative
    box-sizing border-box
    padding 16px 26px 12px
    height 56px
    color #fff
    font-weight bold
    font-size 20px
    font-family Roboto
    letter-spacing 1px
    line-height 22px
    border-radius 10px

.headArr
    position absolute
    right 18px
    top 22px

.productsContainer
    margin-top 10px
