.root
    display flex
    flex-direction column

.input
.button
    height 50px
    border-radius 12px
    margin 0 14%
    box-sizing border-box

.input
    border 2px solid rgba(169, 169, 168, 0.9);
    padding 0 25px
    font-size 15px

.input + .input
.button
    margin-top 12px

.button
    font-size 16px
    color #fff
    font-weight bold
    background #787878
    border 0
