.root
    border-width 1px
    border-style solid
    border-radius 10px
    display flex
    position relative
    background #fff
    max-height 160px
    transition all .3s
    top 0px
    overflow hidden
    margin-top -18px
    padding-top 16px

.rootHidden
    max-height 0px
    top -32px

.left
    width 56px
    margin 12px
    flex-shrink 0
    display flex
    justify-content center

.img
    align-self center

.content
    margin 12px 30px 12px 0
    display flex
    flex-direction column
    justify-content center
    width calc(100% - 110px)

.brand
    font-size 15px
    text-transform uppercase
    font-weight 900

.title
    font-size 15px
    text-transform uppercase
    font-weight 100
    margin-top 4px

.review
    margin-top 5px
    border-top 1px solid #E2E2E2
    display flex
    padding-top 8px

.reviewImage
    width 20px
    height 20px
    border-radius 10px
    flex 0 0 

.reviewText
    font-style italic
    font-size 13px
    letter-spacing .1px
    color #818181
    flex 1 0
    margin-left 8px
    overflow hidden
    display -webkit-box
    text-overflow ellipsis
    -webkit-line-clamp 2
    -webkit-box-orient vertical
    max-height 40px

.arr
    position absolute
    top calc(50% - 10px)
    right 12px

.color
    margin-top 6px
    display flex

.colorImage
    height 26px
    margin-right 8px

.colorText
    text-transform uppercase
    color #4D4C4C
    font-size 14px
    font-style italic
    font-weight 100
    line-height 26px
    white-space nowrap
    text-overflow ellipsis
    overflow hidden
    padding-right 2px
