.root
    display block

.mainContainer
    height 100px

.left
    float left
    width 100px
    margin-left 10px
    position relative

.center
    margin-left 130px
    height 100%
    font-family Roboto

.input
    & + &
        margin-top 6px

.bioLabel
    font-size 13px

.bioInput
    margin-top 6px
    width 100%
    box-sizing border-box
    padding 8px 12px
    border-radius 8px
    border 1px solid #c4c4c4
    outline none
    height 80px
    font-size 14px
    resize none

.imageContainer
.imagePlaceholder
    border-radius 50px
    width 100px
    height 100px

.imageContainer
    overflow hidden
    display flex

.image
    opacity .5
    object-fit cover

.imagePlaceholder
    border 1px solid #c4c4c4

.imageIcon
    position absolute
    left calc(50% - 15px)
    top calc(50% - 14px)
    width 30px

.imageInput
    visibility hidden
    position absolute

.subContainer
    margin-top 12px

.subContainerItem
    & + &
        margin-top 12px
