.unassignedProductInfo
    margin-bottom 10px

.openPostButton
    min-width 20px !important
    margin-left 8px !important

.label
    font-weight bold
    font-size 13px

.line
    margin 4px 0

.lineLabel
    font-weight bold

.productInfo
    margin-top 8px

.productIdField
    width 100%

.colorSelect
    margin 8px 0
    width 100%

.circular
    margin 10px auto
    width 40px
