.root
    height 100px

.left
    float left
    width 100px
    margin-left 10px

.center
    margin-left 130px
    height 100%
    font-family Roboto

.name
    margin 0
    padding-top 8px
    font-size 19px
    font-weight normal

.login
    font-size 16px
    color #777777

.instaButton
    margin-top 10px
    display inline-block
    border 1px solid #C4C4C4
    border-radius 6px
    padding 3px 9px

.instaIcon
    width 13px
    height 13px

.instaLogin
    margin-left 6px
    position relative
    color #666666
    font-size 13px
    top -2px

.image
    border-radius 50px
    width 100px
    height 100px
