.root + .root
    margin-top 12px

.root
    padding 12px

.controls
    float right

.controls Button
    margin-left 10px
    padding 4px 0
    min-width 40px

.productsContainer
    margin-top 16px
    border 1px solid #ddd
    border-radius 4px
