.root
    margin-top 16px

.colors
    display flex
    flex-wrap wrap
    width 100%
    justify-content space-between

.item
    width 15%
    flex-shrink 0
    margin-top 5px

.actionButton
    margin 8px 0 12px
