.blogs
    display flex
    overflow-x auto
    width calc(100% + 30px)
    position relative
    left -15px

.blog
    width 140px
    text-align center
    display block
    flex 0 0 140px

.image
    width 100px
    height 100px
    border-radius 50px

.name
    font-size 15px

.login
    font-size 14px
    color #888888
